
  .main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: 320px;
    width: 360px;
  }

  p{
    font-weight: 600;
    margin: 0;
  }

  .logo{
    max-width: 120px;
  }

  .lbutton{
    border: none;
    background-color: #f83f40;
    width: 250px;
    height: 35px;
    line-height: 0px;
    border-radius: 4px;
    color: white;
    font-weight: light;
  }

  .inputsbox{
    width: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 9px 10px -3px rgba(0,0,0,0.15);
    border-radius: 4px;
    margin: 20px 0px;
  }

  #emailfield{
    border: solid 1px rgb(226, 226, 226);
    border-bottom: none;
  }

  #passwordfield{
    border: solid 1px rgb(226, 226, 226);
  }

  #emailbox{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    border: solid 1px rgb(235, 235, 235);
    border-radius: 4px 4px 0 0;
  }

  #passwordbox{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    border: solid 1px rgb(235, 235, 235);
    border-radius: 0 0 4px 4px;
  }

  #passwordfield{
    background-color: rgba(255, 255, 255, 0);
    border:none;
    width: 100%;
  }

  #emailfield{
    background-color: rgba(255, 255, 255, 0);
    border:none;
    width: 100%;
  }

  .itext{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px;
  }

  .rememberme{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  form{
    width: 100%;
  }

  label{
    margin: 20px;
    color: gray;
  }
  
  input{
    outline: none;
    padding: 20px;
  }
